<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Angular TP</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body ng-app="myconfs">

<div class="container" ng-controller="ConfCtrl">

    <h1>Liste des conférences</h1>

    <div class="alert alert-danger" ng-show="messageErreur">Error détectée : {{messageErreur}}</div>

    <p>Vous pouvez sauvegarder toutes vos conférences avec myconfs</p>

    <div class="row">
        <div class="col-xs-1">
            Filtre
        </div>
        <div class="col-xs-6">
            <input type="text" ng-model="search" class="form-control">
        </div>
        <div class="col-xs-4">
            &nbsp;
        </div>
        <div class="col-xs-1">
            <button class="btn btn-info" ng-click="addConference()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th ng-click="sortcolumn='image'">Logo</th>
            <th ng-click="sortcolumn='image'">Name</th>
            <th ng-click="sortcolumn='description'">Description</th>
            <th ng-click="sortcolumn='startdate'">Start</th>
            <th ng-click="sortcolumn='enddate'">End</th>
            <th>Visu</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="conf in conferences | orderBy:sortcolumn | filter:search">
            <td><img ng-src="{{conf.image}}" style="max-height: 40px"/></td>
            <td>{{conf.name}}</td>
            <td>
                {{conf.description | limitStringTo:150}}
                <div ng-show="conf.themes">
                    <div class="label label-primary" ng-repeat="theme in conf.themes" style="margin-left: 3px">{{theme.label}}</div>
                </div>
            </td>
            <td>{{conf.startdate | date:'dd/MM/yyyy'}}</td>
            <td>{{conf.enddate | date:'dd/MM/yyyy'}}</td>
            <td>
                <a class="btn btn-default" ng-href="detail.html#?name={{conf.name}}">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="scripts/third/angular/angular.min.js"></script>
<script src="scripts/third/angular/angular-resource.min.js"></script>

<script src="scripts/services/_service.js"></script>
<script src="scripts/services/conferenceService.js"></script>
<script src="scripts/services/themeService.js"></script>

<script src="scripts/controllers/_controller.js"></script>
<script src="scripts/controllers/conference.js"></script>
<script src="scripts/controllers/conferencedetail.js"></script>

<script src="scripts/filters/_filter.js"></script>
<script src="scripts/filters/limito.js"></script>

<script src="scripts/app.js"></script>

</body>
</html>
